@charset "UTF-8";
.song-button {
  border-width: 1px;
  border-style: solid;
  border-color: #dcdfe6;
  height: 40px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
}

.song-button + .song-button {
  margin-left: 14px;
  margin-bottom: 10px;
}

.song-button > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.song-button .icon-prefix {
  margin-right: 10px;
}

.song-button .icon-suffix {
  margin-left: 10px;
}

.song-button-medium {
  height: 38px;
}

.song-button-small {
  padding: 0 15px;
  height: 32px;
  font-size: 12px;
}

.song-button-mini {
  padding: 0 15px;
  height: 28px;
  font-size: 12px;
}

.song-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.song-button-primary {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff;
}

.song-button-primary.is-border {
  background-color: transparent;
  color: #409eff;
}

.song-button-success {
  background-color: #00d100;
  border-color: #00d100;
  color: #fff;
}

.song-button-success.is-border {
  background-color: transparent;
  color: #00d100;
}

.song-button-danger {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}

.song-button-danger.is-border {
  background-color: transparent;
  color: #e6a23c;
}

.song-button-warning {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}

.song-button-warning.is-border {
  background-color: transparent;
  color: #f56c6c;
}

/*** 圆角 */
.is-round {
  border-radius: 100px;
}

/**块级按钮*/
.song-button-block {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

/**loading动画加载*/
.icon-loading {
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
